h1,h2{
    text-align: center;
    font-size: 20px;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.main{
    height: 450px;
    width: 580px;
    background-color: white;
    border-radius: 15px;
 


}
#inp{
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: 10px;
}
input{
    height: 33px;
    width: 200px;
    border-radius: 10px;
}
button{
    height: 38px;
    border-radius: 10px;
    background-image: linear-gradient(#11998e,#40855b);
    cursor: pointer;
}
button:hover{
    scale: 1.2;
}
.logo{
    align-items: center;
    justify-content: center;
}
#task {
    width: 170px;
   
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    border-radius: 8px; 
}

#del {
    cursor: pointer; 
    height: 20px; 
    width: 20px; 
}

#chek{
    height: 35px;
    width: auto;
}