/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
body{
    background-image: linear-gradient(#11998e,#40855b);
    background-repeat: no-repeat;
    font-family: "Playwrite IN", serif;
}